.hidden {
    /*overflow: hidden; important for big folds but bad for demo because it cuts of the depth in other perspectives */
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

/*
    every fold is holding two identical divs: top and bottom
    the children divs are positioned relative to it
    the slice grows from zero to 1/n of the elements height (n = number of slices)
*/

/*
    easing functions
    ================

    kappa = 0.5522847498307936
    - half circle (low): cubic-bezier(0.552, 0.000, 1.000, 0.448)
    - half circle (top): cubic-bezier(0.000, 0.552, 0.448, 1.000)
    - ease cubic-bezier(0.250, 0.100, 0.250, 1.000)
    - inverse-ease cubic-bezier(0.750, 0.000, 0.750, 0.900)

    - self tested cubic-bezier(0.500, 0.200, 0.900, 0.820)
*/

/*.showHelpers .hidden .fold {
    outline: 1px solid rgba(255, 0, 0, .13);
    background: rgba(255, 0, 0, .13);
}*/
.showHelpers .hidden .fold .inner {
    background: rgba(255, 255, 255, .13);
}
.showHelpers .hidden .fold .top,
.showHelpers .hidden .fold .bottom {
    overflow: visible;
}
.showHelpers .hidden .fold .top:after,
.showHelpers .hidden .fold .bottom:after {
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,.34);

    content: "";
}

.hidden .fold {
    position: relative;

    width: 100%;
    height: 0;

    -webkit-perspective: 1000px;
       -moz-perspective: 1000px;
        -ms-perspective: 1000px;
            perspective: 1000px;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.hidden.ready .fold {
    transition: height 500ms linear;
}

/* reset the background color */
.hidden .fold section {
    background: none;
}
/*
    they are the two folds - top and bottom
*/
.hidden .fold .top,
.hidden .fold .bottom {
    overflow: hidden;

    position: relative;

    width: 100%;

    background-color: #505455; /* hsl(192,6,33) */
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.55) 3%, rgba(255,255,255,.5) 66%, rgba(255,255,255,0));

    -webkit-transform: rotateX(-90deg);
       -moz-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    -webkit-transform-origin: top;
       -moz-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
}

.hidden.ready .fold .top,
.hidden.ready .fold .bottom {
    width: 100%;
    /* closing transition */

    -webkit-transition: transform 500ms cubic-bezier(.000, .450, 1.000, .950), background-color 500ms ease-in;
       -moz-transition: transform 500ms cubic-bezier(.000, .450, 1.000, .950), background-color 500ms ease-in;
        -ms-transition: transform 500ms cubic-bezier(.000, .450, 1.000, .950), background-color 500ms ease-in;
            transition: transform 500ms cubic-bezier(.000, .450, 1.000, .950), background-color 500ms ease-in;
}

.hidden .fold .bottom {
    position: absolute;
    bottom: 0;

    background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.5) 34%, rgba(255,255,255,.95) 97%, rgba(255,255,255,1));

    -webkit-transform: rotateX(90deg);
       -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
            transform: rotateX(90deg);
    -webkit-transform-origin: bottom;
       -moz-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
}

.hidden.visible .fold .top,
.hidden.visible .fold .bottom {
    background-color: white;
    /* opening transition */

    transition: transform 500ms cubic-bezier(.000, .050, 1.000, .550), background-color 500ms ease-out;
    -webkit-transform: rotateX(0);
       -moz-transform: rotateX(0);
        -ms-transform: rotateX(0);
            transform: rotateX(0);
}

/* inner holder for the content */
.hidden .fold .inner {
    position: absolute;

    width: 100%;
}

.seeMore {
    overflow: hidden;

    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.13);
    border-bottom: none;
    padding: 0;
    width: 100%
    color: gray;
    height: 23px;

    text-align: center;

    background: repeating-linear-gradient(
    white, #ecefef 5px, #ccc 5px, #ccc 6px
    );

    box-shadow: 0 -1px rgba(0,0,0,.16) inset;

    transition: 500ms;

    cursor: pointer;
}
.visible + .seeMore {
    margin-bottom: -25px;
    border-top-color: white;
    border-bottom-color: white;
}

.seeMore > span {
    border-radius: 2px 2px 0 0;
    padding: 5px 8px;

    font-size: 11px;
    line-height: 29px;

    background: white;

    box-shadow: 0 1px 2px rgba(0,0,0,.75), 0 1px white;
}


.hidden.ready,
.hidden.ready.visible,
.hidden.ready .fold,
.hidden.ready.visible .fold,
.hidden.ready .fold .top,
.hidden.ready .fold .bottom,
.hidden.ready.visible .fold .top,
.hidden.ready.visible .fold .bottom,
.hidden.ready .fold .inner,
.buddycloud .seeMore {
    transition-duration: 400ms;
}

.hidden.no-transition,
.hidden.visible.no-transition,
.hidden.no-transition .fold,
.hidden.visible.no-transition .fold,
.hidden.no-transition .fold .top,
.hidden.no-transition .fold .bottom,
.hidden.visible.no-transition .fold .top,
.hidden.visible.no-transition .fold .bottom,
.hidden.no-transition .fold .inner,
.buddycloud .visible.no-transition + .seeMore {
    transition: none;
}
