* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: #FFFFFF;
    font-size: 16px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000000;
}

a.link {
    color: #B3B3B3;
    transition: color 0.1s linear 0s;
}

a.link:hover {
    color: #FCEE21;
}

img {
    vertical-align: middle;
}

.container {
    margin: 0 auto;
    max-width: 960px;

    text-align: center;
}

.btn {
    cursor: pointer;
    background-color: #eee;
    text-align: center;

    transition: all .2s ease-in-out;
}

.btn:hover {
    background-color: #fcee21;
}

.clearfix:before,
.clearfix:after {
    display: table;

    content: " ";
}

.clearfix:after {
    clear: both;
}

hr.line {
    margin: 20px 0;
    border: 0;
    height: 1px;

    background: #333;
    background-image: -webkit-linear-gradient(left, #fff, #333, #fff);
    background-image: -moz-linear-gradient(left, #fff, #333, #fff);
    background-image: linear-gradient(left, #fff, #333, #fff);
}

.likebtn {
    width: 107px;
    height: 40px;
    background: #fff url(../img/like-animate.png) no-repeat;
    background-position: 0 0;

    position: relative;
    overflow: hidden;
}

.likebtn .support {
    width: 45px;
    height: 40px;
    position: absolute;
    left: 0;
    cursor: pointer;
    border-radius: 50% 0 0 50%;
}

.likebtn .num {
    width: 57px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #B3B3B3;
    font-size: 16px;
    position: absolute;
    right: 4px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.likebtn.focus .num {
    color: #fcee21;
}

.likebtn .num .link {
    color: #B3B3B3;
    transition: all .4s ease-in-out;
}

.likebtn.focus .num .link {
    color: #fcee21;
}

.likebtn.focus {
    -webkit-animation: likebtnfocus .4s steps(9) forwards;
    animation: likebtnfocus .4s steps(9) forwards;
}

.likebtn.blur {
    -webkit-animation: likebtnblur .3s steps(5) forwards;
    animation: likebtnblur .3s steps(5) forwards;
}

@-webkit-keyframes likebtnfocus {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -963px 0;
    }
}

@keyframes likebtnfocus {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -963px 0;
    }
}

@-webkit-keyframes likebtnblur {
    0% {
        background-position: -963px 0;
    }

    100% {
        background-position: -1498px 0;
    }
}

@keyframes likebtnblur {
    0% {
        background-position: -963px 0;
    }

    100% {
        background-position: -1498px 0;
    }
}

.article-list {
    margin: 0 auto;

    opacity: 1;

    transition: opacity .4s;
}

.article-list .menu {
    box-sizing: border-box;
    padding: 8px 8px 8px 0;
    width: 100%;

    text-align: left;
}

.article-list .menu .btn.select {
    display: inline-block;

    margin-left: 10px;
    width: 100px;
    height: 40px;
    line-height: 40px;
}

.article-list .menu .btn.select:first-child {
    margin-left: 0;
}

@media screen and (max-width: 960px) {
    .article-list .menu .btn.select:first-child {
        margin-left: 10px;
    }
}

.article-list .box {
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #666;
    width: 302px;
}

.article-list .box .ishadow {
    position: relative;
}

.article-list .box .ishadow img {
    display: block;

    width: 100%;
}

.article-list .box .ishadow .shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    width: 100%;
    height: 100%;

    opacity: 0;

    transition: all .2s ease-in-out;

    cursor: pointer;
}

.article-list .box .ishadow .shadow:hover {
    background-color: rgba(0, 0, 0, .4);

    opacity: 1;
}

.article-list .box .ishadow .shadow i {
    font-size: 128px;
    line-height: 1;

    color: lightyellow;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.article-list .box .title {
    box-sizing: border-box;
    padding-top: 5px;
    width: 100%;

    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;

    color: #666;
}

.article-list .box .title:before,
.article-list .box .title:after {
    font-size: 16px;
}

.article-list .box .title:before {
    content: "《";
}

.article-list .box .title:after {
    content: "》";
}

.article-list .box .content {
    box-sizing: border-box;
    padding: 4px 8px;
    width: 100%;

    font-size: 14px;
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;

    color: #666;
}

.article-list .box .bottom {
    /*padding-left: 8px;*/
    box-sizing: border-box;
    width: 100%;
    height: 30px;

    font-size: 14px;
    line-height: 30px;
    text-align: left;
}

.article-list .box .bottom .like,
.article-list .box .bottom .read {
    display: inline-block;

    margin-left: 8px;
}

.article-list .box .bottom .like i {
    color: brown;
}

.article-list .box .bottom .btn.read {
    float: right;

    margin-right: 10px;
    margin-bottom: 5px;
    width: 100px;
    height: 30px;

    text-align: center;

    background-color: #eee;

    transition: background-color .2s ease-in-out;

    cursor: pointer;
}

.article-list .box .bottom .btn.read:hover {
    background-color: #fcee21;
}

.visitable {
    opacity: 1;
}

.artist-list {
    margin: 0 auto;
}

.artist-list .artist {
    box-sizing: border-box;
    padding: 0 15px;
    width: 300px;
    min-height: 1px;
}

.article {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    max-width: 700px;
}

.article .title {
    text-align: left;
    line-height: 1.5;
    margin-bottom: 20px;
    word-break: break-all;
    font-size: 32px;
    font-weight: bold;
    color: #555;
}

.article .info {
    text-align: left;
    font-size: 14px;
    color: #bbb;
}

.article .detail {
    margin: 15px 0 40px;
    text-align: justify;
    line-height: 1.5;
    word-break: break-all;
    color: #2f2f2f;
}

.article .detail img {
    max-width: 100%;
}

.article .share .likebtn {
    float: left;
}

.article .share span {
    font-size: 16px;
}

@media screen and (max-width: 767px) {
    .article .share .jiathis_share {
        display: none;
    }

    .article .share .likebtn {
        float: none;
        margin: 0 auto;
    }
}

.avatar {
    border-radius: 3px;
    width: 50px;
    height: 50px;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.article .stream {
    width: 100%;
    margin: 15px 0 20px;
    text-align: left;
    font-size: 13px;
    border-left: 1px solid rgba(0, 0, 0, 0.13);
    border-right: 1px solid rgba(0, 0, 0, 0.13);
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);

}

.article .stream .avatar {
    position: absolute;
    top: 13px;
    left: 14px;

    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.article .stream .time {
    float: right;
    color: rgba(0, 0, 0, 0.34);
    font-size: 12px;
}

.article .stream .sub_comment,
.article .stream .comment {
    position: relative;
}

.article .stream .comment {
    border-top: 1px solid rgba(0, 0, 0, 0.13);
    padding: 13px 13px 13px 76px;
    min-height: 50px;
}

.article .stream .comment .avatar {
    position: absolute;
    top: 13px;
    left: 14px;

    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.article .stream .sub_comment {
    padding: 5px 13px 5px 90px;
    min-height: 40px;
}

.article .stream .sub_comment .avatar{
    position: absolute;
    top: 5px;
    left: 35px;

    width: 40px;
    height: 40px;

    background-repeat: no-repeat;
    background-size: 40px 40px;
}

.article .stream .name {
    /*font-size: 12px;*/
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: black;
}

.article .stream .name + .location {
    margin-left: 5px;
    font-size: 11px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.34);
}


.stream .options {
    width: 100%;
    margin-top: 4px;
}

.stream .options div {
    display: inline-block;
    font-size: 14px;
    color: #555555;
}


.stream .options .reply {
    cursor: pointer;
}

.stream .options .reply:hover {
    color: #FCEE21;
}

.stream .ft-comment {
    width: 100%;
    margin-top: 10px;
}

.stream .ft-comment textarea {
    width: 60%;
    float: right;
}

.stream .ft-comment .write,
.stream .ft-comment .cancel {
    margin: 10px 0px;
    line-height: 30px;
    height: 30px;
    float: right;
    width: 75px;
    border-radius: 5px;
}

.stream .ft-comment .cancel {
    margin-right: 10px;
}

.stream .answer {
    border-top: 1px solid rgba(0, 0, 0, 0.13);
    width: 100%;
    padding: 15px 10px 15px 0;
    box-sizing: border-box;
}

.stream .answer textarea {
    width: 60%;
    float: right;
    display: block;
}

.stream .answer .btn.send {
    float: right;
    width: 60px;
    height: 28px;
    line-height: 28px;
    margin-left: 20px;
}

textarea {
    padding: 4px 5px;
    line-height: 20px;
    min-height: 20px;
    max-height: 140px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .3);

    color: #808080;
    resize: none;

    transition: border .2s ease-in-out;
}

textarea:focus {
    border: 1px solid #fcee21;
}
