
* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;

    width: 100%;

    font-family: "微软雅黑", tahoma, arial, simhei, "宋体", sans-serif;

    background: #fff;
}

ul,
ol,
li {
    list-style: outside none none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #666;
}

body a {
    outline: none;
}

a {
    text-decoration: none;

    color: #000;
}

a.link {
    color: #b3b3b3;

    transition: color .1s linear 0s;
}

a.link:hover {
    color: #fcee21;
}

a:visited {
    color: #b3b3b3;
}

input,
textarea {
    font-family: "微软雅黑", tahoma, arial, simhei, "宋体", sans-serif;

    outline: none;
}

img {
    vertical-align: middle;
}

.hide-x {
    overflow-x: hidden;
}

.hide-y {
    overflow-y: hidden;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.clearfix:before,
.clearfix:after {
    display: table;

    content: " ";
}

.clearfix:after {
    clear: both;
}

/*ICON START*/
.icon {
    clear: both;
}

.icon.logo-a {
    width: 509px;
    height: 168px;

    background: transparent url("../img/icon/logo_big.png") no-repeat scroll;
}

.icon.logo-w {
    display: inline-block;

    width: 61px;
    height: 35px;

    background: transparent url("../img/icon/logo_writh.png") no-repeat scroll;
}

.icon.logo-f {
    display: inline-block;

    width: 61px;
    height: 71px;

    background: transparent url("../img/icon/logo_gray.png") no-repeat scroll;
}

.icon.toplogo {
    display: inline-block;

    width: 50px;
    height: 50px;

    background: transparent url("../img/icon/toplogo.png") no-repeat scroll;
}

.icon.sidebtn {
    display: inline-block;

    width: 45px;
    height: 45px;

    background: transparent url("../img/icon/slidBar_Btn_over.png") no-repeat scroll;
}

.icon.sidebtn:hover {
    opacity: .7;
}

.icon .i_media {
    display: inline-block;

    width: 18px;
    height: 18px;

    background: transparent url("../img/icon/i_media.png") no-repeat scroll;
}

.icon.home {
    width: 22px;
    height: 22px;

    background: transparent url("../img/icon/slidBar_home_normal.png") no-repeat scroll;
}

.icon.logout {
    width: 22px;
    height: 22px;

    background: transparent url("../img/icon/slidBar_logout_normal.png") no-repeat scroll;
}

.icon.guanzhu {
    width: 22px;
    height: 22px;

    background: transparent url("../img/icon/slidBar_guanzhu_normal.png") no-repeat scroll;
}

.icon.tongji {
    width: 22px;
    height: 22px;

    background: transparent url("../img/icon/slidBar_tongji_normal.png") no-repeat scroll;
}

.icon.sixin {
    width: 22px;
    height: 22px;

    background: transparent url("../img/icon/slidBar_sixin_normal.png") no-repeat scroll;
}

.icon.setting {
    width: 22px;
    height: 22px;

    background: transparent url("../img/icon/slidBar_setting_normal.png") no-repeat scroll;
}

.icon.language {
    width: 22px;
    height: 22px;

    background: transparent url("../img/icon/slidBar_yuyan_normal.png") no-repeat scroll;
}

.icon.login {
    width: 22px;
    height: 22px;

    background: transparent url("../img/icon/sb_login_normal.png") no-repeat scroll;
}

.icon.signup {
    width: 22px;
    height: 22px;

    background: transparent url("../img/icon/sb_signup_normal.png") no-repeat scroll;
}

.icon .like {
    width: 16px;
    height: 16px;

    background: transparent url("../img/icon/like.png") no-repeat scroll;
}

.icon .unlike {
    width: 16px;
    height: 16px;

    background: transparent url("../img/icon/unlike.png") no-repeat scroll;
}

.icon.home_setting {
    width: 38px;
    height: 38px;

    background: transparent url("../img/icon/profile_icon_shezhi.png") no-repeat scroll;
}

.icon.home_quanzi {
    width: 38px;
    height: 38px;

    background: transparent url("../img/icon/profile_icon_quanzi.png") no-repeat scroll;
}

.icon.home_hezuo {
    width: 38px;
    height: 38px;

    background: transparent url("../img/icon/profile_icon_hezuo.png") no-repeat scroll;
}

.icon.home_jieshao {
    width: 38px;
    height: 38px;

    background: transparent url("../img/icon/profile_icon_jieshao.png") no-repeat scroll;
}

/*ICON END*/

/*SIDEBAR START*/
.sbtn {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;

    width: 45px;

    outline: 0 none;

    cursor: pointer;
}

.sbtn .dot {
    display: none;

    position: absolute;
    top: 7px;
    right: 7px;

    border-radius: 100%;
    width: 10px;
    height: 10px;

    background: red;
}

#pageslide {
    /* These styles MUST be included. Do not change. */
    display: none;

    position: absolute;
    position: fixed;
    top: 0;
    z-index: 999999;

    padding: 20px;
    /* Specify the width of your pageslide here */
    width: 260px;
    height: 100%;

    color: #fff;
    /* These styles are optional, and describe how the pageslide will look */
    background-color: #333;

    -webkit-box-shadow: inset 0 0 5px 5px #222;
            box-shadow: inset 0 0 5px 5px #222;

    -moz-shadow: inset 0 0 5px 5px #222;
}

.sidebar .lop {
    overflow: hidden;

    width: 100%;
    height: 0;
}

.sidebar .lop .btn {
    float: left;

    border-radius: 0;
    padding: 10px 0;
    width: 128.5px;

    text-align: center;

    background-color: #b3b3b3;

    transition: color .1s linear 0s, background-color .1s linear 0s;
}

.sidebar .lop .btn:hover {
    color: #4c4640 !important;
    background-color: #fcee21;
}

.numtooplit {
    float: right;

    margin: 4px;
    border-radius: 30%;
    padding: 0 5px;

    font-size: 10px !important;
    font-weight: 700;

    color: #4b463f;
    background-color: #fcee21;
}

.shade {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    width: 100%;
    height: 100%;

    background-color: dimgray;

    opacity: .4;
}

.sidebar .search {
    margin: 0 auto;
    width: 80%;
}

.sidebar .search div {
    display: inline-block;

    font-size: 24px;
}

.sidebar .search input[type="text"] {
    margin-right: 8px;
    border: 1px #b3b3b3 solid;
    border-radius: 5px;
    padding: 2px 0;
    padding-left: 3px;
    width: 80%;
    height: 30px;

    font-size: 14px;
    font-weight: 600;

    color: #b3b3b3;
    background-color: transparent;
}

.sidebar .search input[type="text"]:focus {
    -webkit-animation: bdcolor-y .4s ease-out forwards;
            animation: bdcolor-y .4s ease-out forwards;
}

.sidebar .menu ul {
    width: 100%;
}

.sidebar .menu .menu-list {
    display: block;

    width: 100%;
    height: 40px;
}

.sidebar .menu .menu-list .menu-list-item {
    position: relative;

    height: 100%;
}

.sidebar .menu .menu-list .menu-list-item .icon {
    display: inline-block;
    float: left;

    position: relative;
    top: 8px;

    margin-left: 15px;
}

.sidebar .menu .menu-list .menu-list-item a {
    display: block;
}

.sidebar .menu .menu-list .menu-list-item .menu-list-item-text {
    position: relative;
    top: 8px;

    margin-left: 40px;
}

.sidebar .menu .active .menu-list-item {
    background-color: #fcee21;
}

.sidebar .menu .active .menu-list-item .menu-list-item-text {
    font-weight: 900;

    color: #4c4640;
}

.sidebar .menu .menu-list:hover .menu-list-item {
    background-color: #fcee21;
}

.sidebar .menu .menu-list:hover .menu-list-item .icon.home {
    background-image: url(../img/icon/slidBar_home_over.png);
}

.sidebar .menu .menu-list:hover .menu-list-item .icon.guanzhu {
    background-image: url(../img/icon/slidBar_guanzhu_over.png);
}

.sidebar .menu .menu-list:hover .menu-list-item .icon.tongji {
    background-image: url(../img/icon/slidBar_tongji_over.png);
}

.sidebar .menu .menu-list:hover .menu-list-item .icon.sixin {
    background-image: url(../img/icon/slidBar_sixin_over.png);
}

.sidebar .menu .menu-list:hover .menu-list-item .icon.setting {
    background-image: url(../img/icon/slidBar_setting_over.png);
}

.sidebar .menu .menu-list:hover .menu-list-item .icon.logout {
    background-image: url(../img/icon/slidBar_logout_over.png);
}

.sidebar .menu .menu-list:hover .menu-list-item .icon.language {
    background-image: url(../img/icon/slidBar_yuyan_over.png);
}

.sidebar .menu .menu-list:hover .menu-list-item .icon.login {
    background-image: url(../img/icon/sb_login_over.png);
}

.sidebar .menu .menu-list:hover .menu-list-item .icon.signup {
    background-image: url(../img/icon/sb_signup_over.png);
}

.sidebar .menu .menu-list:hover .menu-list-item .menu-list-item-text {
    font-weight: 900;

    color: #4c4640;
}

/*SIDEBAR END*/

.main-wrapper {
    position: relative;

    height: 100%;
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 960px;

    text-align: center;
}

.btn {
    text-align: center;

    background-color: #eee;

    transition: all .2s ease-in-out;

    cursor: pointer;
}

.btn:hover {
    background-color: #fcee21;
}

.head {
    display: inline-block;
    float: left;

    position: relative;

    margin: 0 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.head img {
    display: inline-block;

    border-radius: 100%;
    width: 100%;
    height: 100%;
}

hr.line {
    margin: 20px 0;
    border: 0;
    height: 1px;

    background: #333;
    background-image: -webkit-linear-gradient(left, #fff, #333, #fff);
    background-image:    -moz-linear-gradient(left, #fff, #333, #fff);
    background-image:         linear-gradient(left, #fff, #333, #fff);
}

.likebtn {
    overflow: hidden;

    position: relative;

    width: 107px;
    height: 40px;

    background: #fff url(../img/like-animate.png) no-repeat;
    background-position: 0 0;
}

.likebtn .support {
    position: absolute;
    left: 0;

    border-radius: 50% 0 0 50%;
    width: 45px;
    height: 40px;

    cursor: pointer;
}

.likebtn .num {
    position: absolute;
    right: 4px;

    width: 57px;
    height: 40px;

    font-size: 16px;
    line-height: 40px;
    text-align: center;

    color: #b3b3b3;

    transition: all .4s ease-in-out;

    cursor: pointer;
}

.likebtn.focus .num {
    color: #fcee21;
}

.likebtn .num .link {
    color: #b3b3b3;

    transition: all .4s ease-in-out;
}

.likebtn.focus .num .link {
    color: #fcee21;
}

.likebtn.focus {
    -webkit-animation: likebtnfocus .4s steps(9) forwards;
            animation: likebtnfocus .4s steps(9) forwards;
}

.likebtn.blur {
    -webkit-animation: likebtnblur .3s steps(5) forwards;
            animation: likebtnblur .3s steps(5) forwards;
}

@-webkit-keyframes likebtnfocus {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -963px 0;
    }
}

@keyframes likebtnfocus {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -963px 0;
    }
}

@-webkit-keyframes likebtnblur {
    0% {
        background-position: -963px 0;
    }

    100% {
        background-position: -1498px 0;
    }
}

@keyframes likebtnblur {
    0% {
        background-position: -963px 0;
    }

    100% {
        background-position: -1498px 0;
    }
}

/*top start*/
.main-wrapper .top {
    position: relative;

    width: 100%;
    height: 45px;

    background-color: #666;
}

.main-wrapper .top .wrapper {
    position: relative;

    margin: 0 auto;
    width: 960px;
    height: 100%;
}

.main-wrapper .top .wrapper .logo {
    float: left;

    margin-top: 5px;
}

.main-wrapper .top .wrapper .topcon {
    position: absolute;
    right: 0;

    width: 90%;
}

.main-wrapper .top .wrapper .topcon .nav {
    display: inline-block;
    float: left;

    margin-top: 17px;
}

.main-wrapper .top .wrapper .topcon .nav li {
    display: block;
    float: left;

    width: 72px;
    height: 25px;

    text-align: center;

    color: #b3b3b3;
}

.main-wrapper .top .wrapper .topcon .nav li:hover {
    border-bottom: 3px #fcee21 solid;
}

.main-wrapper .top .wrapper .topcon .nav li.active {
    border-bottom: 3px #fcee21 solid;

    font-weight: 800;
}

.main-wrapper .top .wrapper .topcon .userarea {
    display: inline-block;
    float: right;

    margin-top: 17px;
}

.main-wrapper .top .wrapper .topcon .userarea .useropt {
    color: #b3b3b3;
}

.main-wrapper .top .wrapper .topcon .userarea .useropt .user {
    position: relative;

    margin-right: 15px;
}

.main-wrapper .top .wrapper .topcon .userarea .useropt .user .dot {
    position: absolute;
    top: -2px;
    right: -6px;

    border-radius: 100%;
    width: 10px;
    height: 10px;

    background: red;
}

.main-wrapper .top .wrapper .topcon .userarea .useropt .cart {
    font-size: 14px;
}

.main-wrapper .top .wrapper .topcon .userarea .useropt .cart i {
    margin-right: 3px;

    font-size: 16px;
}

/*top end*/

/*swiper start*/
.swiper-container {
    margin-top: 25px;
    width: 960px;
    height: 470px;

    cursor: -webkit-grab;
    cursor:    -moz-grab;
}

.swiper-container:active {
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
}

.swiper-slide {
    font-size: 18px;
    text-align: center;

    background: #000;
}

.swiper-slide img {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    max-width: 100%;
    height: auto;

    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

/*swiper end*/

/*subject start*/
.new-subject {
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
    max-width: 960px;
}

.new-subject .wrapper {
    margin: 0 auto;

    color: #b3b3b3;
}

.new-subject .wrapper .title {
    float: left;

    font-size: 32px;
    font-weight: 800;
}

.new-subject .wrapper .more {
    float: right;

    margin-top: 20px;

    font-size: 14px;
}

.new-subject .list {
    margin: 0 auto;
}

.new-subject .list .item {
    overflow: hidden;

    position: relative;

    margin-top: 30px;
    width: 300px;
    height: 384px;

    background-color: #fff;

    transition: all .2s ease-in-out;
}

.new-subject .list .item:hover {
    border-radius: 5px;

    box-shadow: 0 0 10px #666;

    cursor: pointer;
}

.new-subject .list .item .sub-image {
    position: relative;

    width: 100%;
    height: 200px;
}

.new-subject .list .item .sub-title {
    margin: 10px auto;
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;

    font-size: 18px;
    text-align: left;
}

.new-subject .list .item .sub-title:before {
    font-size: 18px;
    font-weight: 800;

    color: #fcee21;

    content: "《 ";
}

.new-subject .list .item .sub-title:after {
    font-size: 18px;
    font-weight: 800;

    color: #fcee21;

    content: " 》";
}

.new-subject .list .item .sub-content {
    margin: 0 3px;
    box-sizing: border-box;
    padding: 0 10px;

    font-size: 15px;
    text-align: left;
    text-align: justify;

    color: #b3b3b3;
}

.new-subject .list .item .sub-info {
    position: absolute;
    bottom: 10px;
    left: 10px;

    margin-top: 10px;
}

.new-subject .list .item .sub-info li {
    display: inline-block;

    margin-right: 10px;

    font-size: 14px;

    color: #b3b3b3;
}

.new-subject .list .item .sub-info .fa {
    color: #f1e203;
}

/*subject end*/

/*art start*/
.new-art {
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
    max-width: 960px;
}

.new-art .wrapper {
    margin: 0 auto;

    color: #b3b3b3;
}

.new-art .wrapper .title {
    float: left;

    font-size: 32px;
    font-weight: 800;
}

.new-art .wrapper .more {
    float: right;

    margin-top: 20px;

    font-size: 14px;
}

.new-art .list {
    margin: 0 auto;
}

.new-art .list .item {
    overflow: hidden;

    position: relative;

    margin-top: 30px;
    width: 300px;
    height: 384px;

    background-color: #fff;

    transition: all .2s ease-in-out;
}

.new-art .list .item .art-image {
    position: relative;

    width: 100%;
    height: 200px;
}

.new-art .list .item .art-title {
    margin: 10px auto;
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;

    font-size: 18px;
}

.new-art .list .item .art-title:before {
    font-size: 18px;
    font-weight: 800;

    color: #fcee21;

    content: "《 ";
}

.new-art .list .item .art-title:after {
    font-size: 18px;
    font-weight: 800;

    color: #fcee21;

    content: " 》";
}

.new-art .list .item .art-info {
    position: absolute;
    bottom: 10px;

    margin-top: 10px;
}

.new-art .list .item .art-info li {
    display: inline-block;

    margin-right: 10px;

    font-size: 14px;

    color: #b3b3b3;
}

.new-art .list .item .art-info .fa {
    color: #f1e203;
}

/*art end*/

/*article start*/
.article-list {
    margin: 0 auto;
}

.article-list .menu {
    box-sizing: border-box;
    padding: 8px 8px 8px 0;
    width: 100%;

    text-align: left;
}

.article-list .menu .btn.select {
    display: inline-block;

    margin-left: 10px;
    width: 100px;
    height: 40px;

    line-height: 40px;
}

.article-list .menu .btn.select:first-child {
    margin-left: 0;
}

@media screen and (max-width: 960px) {
    .article-list .menu .btn.select:first-child {
        margin-left: 10px;
    }
}

.article-list .box {
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #eee;
    width: 302px;
}

.article-list .box .ishadow {
    position: relative;
}

.article-list .box .ishadow img {
    display: block;

    width: 100%;
}

.article-list .box .ishadow .shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    width: 100%;
    height: 100%;

    opacity: 0;

    transition: all .2s ease-in-out;

    cursor: pointer;
}

.article-list .box .ishadow .shadow:hover {
    background-color: rgba(0, 0, 0, .4);

    opacity: 1;
}

.article-list .box .ishadow .shadow i {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 128px;
    line-height: 1;

    color: lightyellow;

    transform: translate(-50%, -50%);
}

.article-list .box .title {
    box-sizing: border-box;
    padding-top: 5px;
    width: 100%;

    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;

    color: #666;
}

.article-list .box .title:before,
.article-list .box .title:after {
    font-size: 16px;
}

.article-list .box .title:before {
    content: "《";
}

.article-list .box .title:after {
    content: "》";
}

.article-list .box .content {
    box-sizing: border-box;
    padding: 4px 8px;
    width: 100%;

    font-size: 14px;
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;

    color: #666;
}

.article-list .box .bottom {
    /*padding-left: 8px;*/
    box-sizing: border-box;
    width: 100%;
    height: 30px;

    font-size: 14px;
    line-height: 30px;
    text-align: left;
}

.article-list .box .bottom .like,
.article-list .box .bottom .read {
    display: inline-block;

    margin-left: 8px;
}

.article-list .box .bottom .like i {
    color: brown;
}

.article-list .box .bottom .btn.read {
    float: right;

    margin-right: 10px;
    margin-bottom: 5px;
    width: 100px;
    height: 30px;

    text-align: center;

    background-color: #eee;

    transition: background-color .2s ease-in-out;

    cursor: pointer;
}

.article-list .box .bottom .btn.read:hover {
    background-color: #fcee21;
}

.visitable {
    opacity: 1;
}

.margin-top {
    margin: 30px auto;
}

.margin-top .artist {
    box-sizing: border-box;
    padding: 0 15px;
    width: 300px;
    min-height: 1px;
}

.margin-top .artist .mc-footer .read {
    margin: 0 auto;
    width: 180px;
    height: 50px;

    line-height: 50px;
}

/** 艺术品列表  **/
.margin-top .production {
    margin-top: 20px;
    width: 302px;
    border: 1px solid #BBBBBB;
}

.margin-top .production .image {
    width: 300px;
}

.margin-top .production .wrap {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    color: #B3B3B3;
}

.margin-top .production .wrap .title {
    padding: 10px 0 5px;
}

.margin-top .production .wrap .title:before {
    content: '《';
}

.margin-top .production .wrap .title:after {
    content: '》';
}

.margin-top .production .wrap .author {
    padding: 5px 0;
}

.margin-top .production .wrap .price {
    padding: 5px 0 15px;
}

.margin-top .production .wrap .price span {
    color: #878087;
    font-size: 24px;
    font-weight: 900;
}
.margin-top .production .wrap .footer {
    text-align: left;
    height: 40px;
}
.margin-top .production .wrap .footer div{
    float: left;
    width: 151px;
    height: 40px;
    line-height: 40px;
}

.article {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
}

@media screen and (max-width: 767px) {
    .article {
        width: 90%;
    }
}

.article .title {
    margin-bottom: 20px;

    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    word-break: break-all;

    color: #555;
}

.article .info {
    font-size: 14px;
    text-align: left;

    color: #bbb;
}

.article .detail {
    margin: 15px 0 40px;

    line-height: 1.5;
    text-align: justify;
    word-break: break-all;

    color: #2f2f2f;
}

.article .detail img {
    max-width: 100%;
}

.article .share .likebtn {
    float: left;
}

.article .share span {
    font-size: 16px;
}

@media screen and (max-width: 767px) {
    .article .share .jiathis_share {
        display: none;
    }

    .article .share .likebtn {
        float: none;

        margin: 0 auto;
    }
}

.avatar {
    border-radius: 3px;
    width: 50px;
    height: 50px;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.article .stream {
    margin: 15px 0 20px;
    border-right: 1px solid rgba(0, 0, 0, .13);
    border-bottom: 1px solid rgba(0, 0, 0, .13);
    border-left: 1px solid rgba(0, 0, 0, .13);
    width: 100%;

    font-size: 13px;
    text-align: left;
}

.article .stream .avatar {
    position: absolute;
    top: 13px;
    left: 14px;

    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.article .stream .time {
    float: right;

    font-size: 12px;

    color: rgba(0, 0, 0, .34);
}

.article .stream .sub_comment,
.article .stream .comment {
    position: relative;
}

.article .stream .comment {
    border-top: 1px solid rgba(0, 0, 0, .13);
    padding: 13px 13px 13px 76px;
    min-height: 50px;
}

.article .stream .comment .avatar {
    position: absolute;
    top: 13px;
    left: 14px;

    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.article .stream .sub_comment {
    padding: 5px 13px 5px 90px;
    min-height: 40px;
}

.article .stream .sub_comment .avatar {
    position: absolute;
    top: 5px;
    left: 35px;

    width: 40px;
    height: 40px;

    background-repeat: no-repeat;
    background-size: 40px 40px;
}

.article .stream .name {
    /*font-size: 12px;*/
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: black;
}

.article .stream .name + .location {
    margin-left: 5px;

    font-size: 11px;
    line-height: 19px;

    color: rgba(0, 0, 0, .34);
}

.stream .options {
    margin-top: 4px;
    width: 100%;
}

.stream .options div {
    display: inline-block;

    font-size: 14px;

    color: #555;
}

.stream .options .reply {
    cursor: pointer;
}

.stream .options .reply:hover {
    color: #fcee21;
}

.stream .ft-comment {
    margin-top: 10px;
    width: 100%;
}

.stream .ft-comment textarea {
    float: right;

    width: 60%;
}

.stream .ft-comment .write,
.stream .ft-comment .cancel {
    float: right;

    margin: 10px 0;
    border-radius: 5px;
    width: 75px;
    height: 30px;

    line-height: 30px;
}

.stream .ft-comment .cancel {
    margin-right: 10px;
}

.stream .answer {
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, .13);
    padding: 15px 10px 15px 0;
    width: 100%;
}

.stream .answer textarea {
    display: block;
    float: right;

    width: 60%;
}

.stream .answer .btn.send {
    float: right;

    margin-left: 20px;
    width: 60px;
    height: 28px;

    line-height: 28px;
}

textarea {
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 4px 5px;
    min-height: 20px;
    max-height: 140px;

    font-size: 14px;
    line-height: 20px;

    color: #808080;

    transition: border .2s ease-in-out;

    resize: none;
}

textarea:focus {
    border: 1px solid #fcee21;
}

/*article end*/

/* add artist */
.container .content.edit {
    text-align: left;
}

.edit .list {
    margin-top: 50px;
}

.edit .list .item {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
}

.list .item label {
    display: block;

    margin-bottom: 5px;

    text-align: left;
}

.list .item input[type="text"] {
    margin: 0 auto;
    width: 586px;
    height: 30px;

    line-height: 30px;
}

.list .item.size label {
    display: inline-block;

    margin-left: 10px;
}

.list .item.size input[type="text"] {
    display: inline-block;

    width: 100px;
}

.edit .list .item .author-image {
    display: none;

    width: 80px;
    height: 80px;
}

.edit .list .item .author-image img {
    width: 100%;
    height: 100%;
}

.container .content.edit {
    margin-right: auto;
    margin-left: auto;
    width: 600px;
}

.edit .list .item .text {
    display: block;

    width: 100%;
    height: 100%;
}

.edit .list .item textarea {
    width: 586px;
    min-height: 30px;

    line-height: 30px;
}

.edit .list .options {
    margin: 20px auto;
    height: 40px;

    line-height: 40px;
    text-align: center;
}

.edit .list .options .btn {
    display: inline-block;

    margin-left: 10px;
    width: 180px;
    height: 100%;
}

.edit .list .headpic {
    width: 100%;
    height: 400px;
}

.edit .list .headpic .box {
    width: 100%;
    height: 100%;
}

.edit .list .item i {
    box-sizing: border-box;
    border: 1px dashed #555;
    padding: 5px;

    font-size: 64px;
    text-align: center;

    color: #888;

    cursor: pointer;
}

.edit .list i:hover {
    color: #666;
}

.edit .list .item label[for="aid"],
.edit .list .item label[for="aid"] + i {
    display: inline-block;

    border: none;

    font-size: 16px;
}

.edit .list .item h3 {
    text-align: center;
}

.edit .list .item .image {
    margin-top: 20px;
    width: 600px;
}

.edit .list .item img {
    width: 100%;
}

.edit .list .item .production {
    padding: 20px 0;
}

.edit .list .item .production .group {
    float: right;
}

.edit .list .item .production .group i {
    border: none;
    padding: 2px;

    font-size: 16px;

    color: #888;

    transition: color .2s ease-in-out;
}

.edit .list .item .production .group i:hover {
    color: #666;
}

.edit .production_list {
    overflow: auto;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .4);
}

.edit .production_list .list {
    margin: 50px auto;
    padding: 10px;
    padding-top: 5px;
    width: 800px;

    background-color: #fff;
}

.edit .production_list .list .top {
    width: 100%;
    height: 24px;

    background-color: #eee;
}

.edit .production_list .list .top i {
    float: right;

    z-index: 999;

    font-size: 24px;

    cursor: pointer;
}

.edit .production_list .list .pro {
    position: relative;

    margin: 10px 10px;

    transition: background-color .2s ease-in-out;

    cursor: pointer;
}

.edit .production_list .list .pro:hover {
    background-color: #eee;
}

.edit .production_list .author .pro {
    display: inline-block;

    padding: 10px;
}

.edit .production_list .author .pro:hover {
    background-color: #fcee21;
}

.edit .production_list .list .pro .intro {
    padding: 10px 10px 10px 320px;
    height: 300px;
}

.edit .production_list .author .pro .avatar {
    width: 80px;
    height: 80px;
}

.edit .production_list .author .pro .name {
    text-align: center;
}

.edit .production_list .list .pro .intro + img {
    position: absolute;
    top: 10px;
    left: 10px;

    width: 300px;
    height: 300px;
}

.headpic .box .camera_warp {
    position: relative;

    border: 1px dashed #333;
    width: 100%;
    height: 100%;

    color: rgba(0, 0, 0, .2);

    transition: color .2s ease-in-out;
}

.headpic .box .camera_warp:hover {
    color: rgba(0, 0, 0, .5);
}

.headpic .box .camera_warp i {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.headpic .box .camera_warp input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;

    width: 100%;
    height: 100%;

    opacity: 0;

    cursor: pointer;
}

.item input[type="text"] {
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 5px 5px;

    font-size: 16px;

    transition: border-color .2s ease-in-out;
}

.item input[type="text"]:hover,
.item input[type="text"]:focus {
    border: 1px solid #fcee21;
}
