*{padding: 0px;margin: 0px;}
body{
    width: 100%;
    background: #FFFFFF;
    font-family:"微软雅黑",tahoma,arial,simhei,"宋体";
    overflow-x: hidden;
}
ul,ol,li{
    list-style: outside none none;
}
h1,h2,h3,h4,h5,h6{
    color: #4C4640;
}
body a{ 
    outline: none;
}
a:visited{
	color: #B3B3B3;
}
input,textarea{
    font-family: "微软雅黑",tahoma,arial,simhei,"宋体";
    outline: none;
}

.link{
    text-decoration: none;
    color: #B3B3B3;
    transition: color 0.1s linear 0s;
}

.link:hover{
    color:#FCEE21;
}

img{
    vertical-align: middle;
}
@-webkit-keyframes color-y{
    0%{}
    100%{color:#FCEE21;}
}
@keyframes color-y{
    0%{}
    100%{color:#FCEE21;}
}
@-webkit-keyframes bgcolor-y{
    0%{}
    100%{background-color:#FCEE21;}
}
@keyframes bgcolor-y{
    0%{}
    100%{background-color:#FCEE21;}
}
@-webkit-keyframes bdcolor-y{
    0%{}
    100%{border-color:#FCEE21;}
}
@keyframes bdcolor-y{
    0%{}
    100%{border-color:#FCEE21;}
}
.width-100p{
    width: 100%;
    margin: 0px auto;
}
.height-100p{
    height: 100%;
}
.margintop-10{
    margin-top: 10px;
}
.margintop-5{
    margin-top: 5px;
}
.float-r{
    float: right;
}
.float-l{
    float: left;
}
.clearfix:after { 
    visibility: hidden; 
    display: block; 
    content: ""; 
    clear: both; 
}    
.hide-x{
    overflow-x: hidden;
}
.hide-y{
    overflow-y: hidden;
}
.btn{
    display: inline-block;
    background: #F2F2F2;
    border-radius: 5px;
    color: #808080 !important;
	cursor: pointer;
}

#vi_content .logo{
     padding: 80px 0;
}

.icon{
    clear: both;
}

.icon.logo-a{
    width: 509px;
    height: 168px;
    background: transparent url("../img/icon/logo_big.png") no-repeat scroll;
}
.icon.logo-w{
    width: 61px;
    height: 71px;
    background: transparent url("../img/icon/logo_writh.png") no-repeat scroll;
    display: inline-block;
}
.icon.logo-f{
    width: 61px;
    height: 71px;
    background: transparent url("../img/icon/logo_gray.png") no-repeat scroll;
    display: inline-block;
}

.icon.sidebtn{
    width: 45px;
    height: 45px;
    background: transparent url("../img/icon/slidBar_Btn_over.png") no-repeat scroll;
    display: inline-block;
}
.icon.sidebtn:hover{
    opacity: 0.7;
}

.icon .i_media{
    width: 18px;
    height: 18px;
    background: transparent url("../img/icon/i_media.png") no-repeat scroll;
    display: inline-block;
}

.icon .home {
    width: 22px;
    height: 22px;
    background: transparent url("../img/icon/slidBar_home_normal.png") no-repeat scroll;
}

.icon .logout {
    width: 22px;
    height: 22px;
    background: transparent url("../img/icon/slidBar_logout_normal.png") no-repeat scroll;
}

.icon .guanzhu {
    width: 22px;
    height: 22px;
    background: transparent url("../img/icon/slidBar_guanzhu_normal.png") no-repeat scroll;
}

.icon .tongji {
    width: 22px;
    height: 22px;
    background: transparent url("../img/icon/slidBar_tongji_normal.png") no-repeat scroll;
}

.icon .sixin {
    width: 22px;
    height: 22px;
    background: transparent url("../img/icon/slidBar_sixin_normal.png") no-repeat scroll;
}

.icon .setting {
    width: 22px;
    height: 22px;
    background: transparent url("../img/icon/slidBar_setting_normal.png") no-repeat scroll;
}

.icon .like {
    width: 16px;
    height: 16px;
    background: transparent url("../img/icon/like.png") no-repeat scroll;
}

.icon .unlike {
    width: 16px;
    height: 16px;
    background: transparent url("../img/icon/unlike.png") no-repeat scroll;
}

.icon .language{
    width: 22px;
    height: 22px;
    background: transparent url("../img/icon/slidBar_yuyan_normal.png") no-repeat scroll;
}
.icon .login{
    width: 22px;
    height: 22px;
    background: transparent url("../img/icon/slidBar_yuyan_normal.png") no-repeat scroll;
}
.icon .signup{
    width: 22px;
    height: 22px;
    background: transparent url("../img/icon/slidBar_yuyan_normal.png") no-repeat scroll;
}
.icon.home_setting{
	width: 38px;
    height: 38px;
    background: transparent url("../img/icon/profile_icon_shezhi.png") no-repeat scroll;
}
.icon.home_quanzi{
	width: 38px;
    height: 38px;
    background: transparent url("../img/icon/profile_icon_quanzi.png") no-repeat scroll;
}
.icon.home_hezuo{
	width: 38px;
    height: 38px;
    background: transparent url("../img/icon/profile_icon_hezuo.png") no-repeat scroll;
}
.icon.home_jieshao{
	width: 38px;
    height: 38px;
    background: transparent url("../img/icon/profile_icon_jieshao.png") no-repeat scroll;
}

.vi-menu ul{
    display: block;
    overflow:auto;
    zoom:1;
}
.vi-menu ul li{
    display: block;
    float: left;
    margin: 0 5px;
    padding: 10px 7px;
}
.vi-menu .active{
    border-bottom :5px solid #FCEE21;
}
.vi-menu .active a {
    color: #999999;
    font-weight: bold;
}
.sidebar {
    height: 100%;
    background-color: #4C4640;
    width: 260px;
    position: fixed;
    right: -260px;
    top: 0;
}
.sidebar .name{
    width:100%;
    margin-top: 50px;
    clear: both;
    display: inline-block;
}
.head{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px #B3B3B3 solid;
    float: left;
    display: inline-block;
    margin: 0 15px;
    position: relative;
}
.head img{
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 100%;
}
.sidebar .name .text{
    font-size: 110%;
    font-weight: bolder;
    height: 50px;
    float: left;
    display: inline-block;
    padding: 20px 10px 0;
}
.sidebar .lop{
    width:100%;
    height:0px;
    overflow: hidden;
}
.sidebar .lop .btn{
    background-color: #B3B3B3;
    width: 139.5px;
    text-align: center;
    border-radius: 0;
    float: left;
    padding: 10px 0;
    transition:color 0.1s linear 0s, background-color 0.1s linear 0s;
}
.sidebar .lop .btn:hover{
    background-color: #FCEE21;
    color: #4C4640 !important;
}

.shade{
    width: 100%;
    height: 100%;
    background-color:dimgray;
    opacity: 0.4;
    z-index: 4;
    bottom: 0;
    position: fixed;
    right: 0px;
    top: 0;
}

.loginlogo {
    padding-top: 110px;
    display: inline-block;
    float: left;
}
.loginlogo .icon{
	float: left;
}

.loginlogo .text{
    display: inline-block;
    color:#BCBCBC;
    text-align: left;
    margin-left: 15px;
    margin-top: 30px;
}


.sbtn {
    width: 45px;
    position: fixed;
    right: 0;
    top:0;
    outline: 0px none;
    cursor: pointer;

}
.content {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.vi-user {
    margin: 5px 0px;
    margin-top: 45px;
    width: 100%;
}
.userhead{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    float: left;
    overflow: hidden;
}
.main {
	display: inline-block;
}
.main ul{

    display: inline-block;
    margin: 0px auto;
    width: 100%;
    margin-top: 20px;
}
.main ul li{
    display: inline-block;
    padding: 0 7px;
    margin-bottom: 20px;
   
}
.main ul li .article{
    float: left;
}
.article-box{
    width: 300px;
    height: 410px;
    color: #B3B3B3;
    border: 1px solid #CCCCCC;
    position: relative;
}
.arimg {
    width: 100%;
    height: 230px;
    background-color: aqua;
}
.arimg img {
    width: 100%;
    height: 100%;
}
.armain {
    display: inline-block;
    /*border: 1px solid #CCCCCC;*/
}
.armain .arclean:after {
    clear: both;
}
.armain .arclean:before {
    clear: both;
}
.armain .artitle {
    float: left;
    color: #4C4640;
    font-weight: bold;

}
.armain .link{
    color: #4C4640;
}
.armain .link:hover{
    color: #FCEE21;
}

.armain .artitle:before {
    content: "《 ";
    font-weight: bolder;
    color: #FCEE21;
}
.armain .artitle:after {
    content: " 》";
    font-weight: bolder;
    color: #FCEE21;
}
.arlike{
    width: 80px;
    color: #4C4640;
    font-size: 14px;
}
.armain .like,.unlike {
    float: right;
    margin-right: 10px;
    margin-top: 3px;
    cursor: pointer;
}
.arcon .name{
    display: inline-block;
    float: left;
    width: 75px;
}
.arcon .name .username {
    width:60px;
    float: left;
    padding: 0 6px;
    font-size: 12px;
    height: 48px;
    color:#4C4640;
    word-wrap:break-word;
    font-weight: bold;
    word-break:normal;
}

.arcon .head {
    width: 40px;
    height: 40px;
}
.armain .arcon {
    width: 100%;
}
.armain .arcon .artext {
    font-size: 14px;
    float: left;
    width: 210px;
    text-align: left;
    text-indent: 2em;
    word-wrap:break-word;
    word-break:normal;
}
.arbtn{
    bottom: 5px;
    position: absolute;
    left: 50%;
    margin-left: -65px;
}
.arbtn .link{
    transition: background-color 0.1s linear 0s;
}
.arbtn .link:hover{
    background-color: #FCEE21;
}
.arbtn .btn{
    width: 130px;
    height: 26px;
    padding-top: 4px;
    color: #4C4640 !important;
    cursor: pointer;
}


.container {
    margin: 0px auto;
    text-align: center;
    position: relative;
    height: 100%;
}
.load_btn {
    width: 40%;
    min-width: 280px;
    height:38px;
    font-size: 20px;
    padding-top: 12px;
}
.load_btn:hover{
    -webkit-animation: bgcolor-y 0.2s ease-out forwards;
    animation: bgcolor-y 0.2s ease-out forwards;
}
.vi_footer {
    margin-top: 50px;
    border-top: 2px #eeeeee solid;
    color:#CCCCCC;
    overflow:auto;
    zoom:1;
}
.vi_footer_left {
    float: left;
    margin: 20px 0px;
    margin-left: 10px;
}
.vi_footer_right {
    float: right;
    margin: 20px 0px;
    margin-right: 10px;
}
.vi-sign {
    padding-top: 50px;
    font-size: 105%;
    width: 100%;
    overflow:auto;
    zoom:1;
}
.vi-sign .sign{
    font-size:130%;    
}
.vi-sign .sign:after{
    color:#FCEE21;
    font-weight: bold;
    padding:0 5px;
    content:"/";
    text-decoration: inherit;
}

.sidebar .search {
    width: 80%;
    margin: 0 auto;
    
}

.sidebar .search div {
    display: inline-block;
    font-size: 24px;
}


.sidebar .search input[type="text"] {
    height: 30px;
    width: 80%;
    background-color: transparent;
    border: 1px #B3B3B3 solid;
    border-radius: 5px;
    margin-right: 8px;
    padding: 2px 0;
    padding-left: 3px;
    font-size: 14px;
    font-weight: 600;
    color: #B3B3B3;
}

 
.sidebar .search input[type="text"]:focus{
    -webkit-animation: bdcolor-y 0.4s ease-out forwards;
    animation: bdcolor-y 0.4s ease-out forwards;
}

.sidebar .menu ul {
    width: 100%;
}

.sidebar .menu .menu-list {
    width: 100%;
    display: block;
    height: 40px;
}

.sidebar .menu .menu-list .menu-list-item {
    position: relative;
    height: 100%;
}



.sidebar .menu .menu-list .menu-list-item .icon{
    float: left;
    margin-left: 15px;
    display: inline-block;
    position: relative;
    top: 8px;
}

.sidebar .menu .menu-list .menu-list-item a{
    display: block;
}

.sidebar .menu .menu-list .menu-list-item .menu-list-item-text{
    margin-left: 40px;
    position: relative;
    top: 8px;
}

.sidebar .menu .active .menu-list-item{
    background-color: #FCEE21;
}

.sidebar .menu .active .menu-list-item .icon .home{
    background-image: url(../img/icon/slidBar_home_over.png);
}
.sidebar .menu .active .menu-list-item .icon .guanzhu{
    background-image: url(../img/icon/slidBar_guanzhu_over.png);
}
.sidebar .menu .active .menu-list-item .icon .tongji{
    background-image: url(../img/icon/slidBar_tongji_over.png);
}
.sidebar .menu .active .menu-list-item .icon .sixin{
    background-image: url(../img/icon/slidBar_sixin_over.png);
}
.sidebar .menu .active .menu-list-item .icon .setting{
    background-image: url(../img/icon/slidBar_setting_over.png);
}
.sidebar .menu .active .menu-list-item .icon .logout{
    background-image: url(../img/icon/slidBar_logout_over.png);
}
.sidebar .menu .active .menu-list-item .icon .language{
    background-image: url(../img/icon/slidBar_yuyan_over.png);
}
.sidebar .menu .active .menu-list-item .menu-list-item-text{
    color:  #4C4640;
    font-weight:900;
}

.sidebar .menu .menu-list:hover .menu-list-item{
    background-color: #FCEE21;
}

.sidebar .menu .menu-list:hover .menu-list-item .icon .home{
    background-image: url(../img/icon/slidBar_home_over.png);
}
.sidebar .menu .menu-list:hover .menu-list-item .icon .guanzhu{
    background-image: url(../img/icon/slidBar_guanzhu_over.png);
}
.sidebar .menu .menu-list:hover .menu-list-item .icon .tongji{
    background-image: url(../img/icon/slidBar_tongji_over.png);
}
.sidebar .menu .menu-list:hover .menu-list-item .icon .sixin{
    background-image: url(../img/icon/slidBar_sixin_over.png);
}
.sidebar .menu .menu-list:hover .menu-list-item .icon .setting{
    background-image: url(../img/icon/slidBar_setting_over.png);
}
.sidebar .menu .menu-list:hover .menu-list-item .icon .logout{
    background-image: url(../img/icon/slidBar_logout_over.png);
}
.sidebar .menu .menu-list:hover .menu-list-item .icon .language{
    background-image: url(../img/icon/slidBar_yuyan_over.png);
}
.sidebar .menu .menu-list:hover .menu-list-item .menu-list-item-text{
    color:  #4C4640;
    font-weight:900;
}
.loginbg{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: -1;
    background-image: url(../img/bigbg.jpg);
    background-position: center;
    background-size: cover;
}


.logtext {
    font-size: 150%;
    color: #B3B3B3;
    display: inline-block;
    width: 100%;
    float: left;
    font-weight: 200;
    padding-top: 40px;

}

.logtext .big{
    font-size:100%;
    letter-spacing: 0px;
}
.logtext .big:after{
    color:#FCEE21;
    font-weight: bold;
    padding:0 10px;
    font-size:75%;
    text-decoration: inherit;
    content:"or";
}


.logform {
    padding-top: 20px;
    display: inline-block;
}

.logform .form{
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.logform .form input[type="text"],input[type="password"]{
    display: block;
    border: none;
    height: 50px;
    width: 100%;
    color: #B4B4B4;
    padding-left: 10px;
}



.loginbtn {
    padding-top: 10px;
    margin-top: 20px;
    width: 100%;
    height: 35px;
    background:#CCCCCC; 
    color: #000000 !important;
    font-size: 20px;
}
.loginbtn:hover{
    -webkit-animation:bgcolor-y 0.2s ease-out forwards;
    animation:bgcolor-y 0.2s ease-out forwards;
}

.remember {
    margin-top: 10px;
	width: 28px;
    height: 28px;
	position: relative;
    border: 2px #FCEE21 solid; 
    border-radius: 5px;
    float: left;
    overflow: hidden;
}
.remember label {
	cursor: pointer;
	position: absolute;
	width: 26px;
	height: 26px;
	top: 0;
  	left: 0;
    border-radius: 2px;
	background-color: transparent;
	border:1px solid #ddd;
}

.remember label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 8px;
	height: 5px;
	background: transparent;
	top: 9px;
	left: 8px;
	border: 3px solid #FCEE21;
	border-top: none;
	border-right: none;
 
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/**
 * Create the hover event of the tick
 */
.remember label:hover::after {
	opacity: 0.5;
}
 
/**
 * Create the checkbox state for the tick
 */
.remember input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.loginoption .text{
    margin-top: 15PX;
    margin-left: 10PX;
    color: #B3B3B3;
}



.logform .formcon {
	float: left;
	max-width:360px; 
    width: 85%
}

.ac-left{
	max-width: 610px;
	width: 100%;
	margin: 0 auto;
	min-width: 300px;
	float: left;
	margin-top: 20px;
}
.ac-boxlist{
	width: 100%;
}
.ac-boxlist .box{
	width: 100%;
	float: left;
	margin-bottom: 20px;
	border: 1px #E4E4E4 solid;
	overflow: hidden;
	color: #B3B3B3;
	padding-top:10px;
}

.ac-boxlist .box .boxtop{
	width: 100%;
	position: relative;
	margin-bottom: 10px;
	text-align: left;
}
.ac-boxlist .box .boxtop .time{
    width: 95%;
    text-align: right;
    margin-right: 15px;
}
.timeago{
    font-size: 14px;
}
.ac-boxlist .box .link{
	color: #4c4640;
    margin: 0 5px;
}
.ac-boxlist .box  .link:hover{
	color: #FCEE21;
}
.ac-boxlist .box .name{
	width: 100%;
	display: inline-block;
}
.ac-boxlist .box .name .text{
	height: 100%;
	padding-top: 10px;
}
.ac-boxlist .box .article{
	width: 95%;
	position: relative;
	background: #F9F9EF;
	height: 200px;
    margin: 0 auto;
}
.ac-boxlist .box .article .ar_text{
	float: left;
	height: 100%;
	padding: 5px;
	width: 300px;
	text-align: left;
}

.ac-boxlist .box .article .ar_text .title:after{
	content: "》";
	color: #FCEE21;
	margin: 0 5px;
	font-weight: bolder;
}
.ac-boxlist .box .article .ar_text .title:before{
	content: "《";
	color: #FCEE21;
	margin: 0 5px; 
	font-weight: bolder;
}

.ac-boxlist .box .article .con{
	padding: 10px;
	text-indent:2em;
	height: 140px;
}

.ac-boxlist .box .article .ar_pic{
	float: left;
	width: 269px;
	height: 200px;
	overflow: hidden;
    background-color: #B3B3B3;
}
.ac-boxlist .box .article .ar_pic img{
	height: 100%;
    width: 100%;
}

.ac-right{
	width: 300px;
	margin: 0 auto;
	float: right;
	margin-top: 20px;
}
.ac-right .box {
	width: 100%;
	margin-bottom: 20px;
	border: 1px #E4E4E4 solid;
	overflow: hidden;
}

.ac-right .ac-user .name{
	width: 100%;
	display: inline-block;
	position: relative;
	padding: 10px 0;
}
.ac-right .ac-user .text{
	padding-top: 20px; 
	padding-top: 18px;
  	text-align: left;
}
.ac-right .ac-user .text .link{
	color: #4c4640;
	white-space: nowrap;	
	text-overflow: ellipsis;
	max-width: 12em;
	overflow: hidden;
	display: inline-block;
}
.ac-right .ac-user .text .link:hover{
	color: #FCEE21;
}

.ac-right .ac-user .public{ 
	width: 100%;
	position: relative;
}
.ac-right .ac-user .public .btn{
	width: 100%;
	height: 100%;
	border-radius: 0px;
	font-size: 25px;
	padding: 15px 0;
	letter-spacing: 10px;
	transition:border 0.1s linear 0s,color 0.1s linear 0s, background-color 0.1s linear 0s;
}
.ac-right .ac-user .public .btn:hover{
    color: #4c4640 !important;
	background-color: #FCEE21;
	border: 0px;
}

.ac-boxlist .box .support{
    float: left;
    margin: 0 15px 10px;
    width: 95%;
    overflow: hidden;
}

.ac-boxlist .box .support .like .btn{
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px #B3B3B3 solid;
    width: 40px;
    padding: 2px 5px;
    margin: 7px;
    text-align: left;
    transition:color 0.1s linear 0s, border 0.1s linear 0s;
}
.ac-boxlist .box .support .like .btn:hover{
    border: 1px #FCEE21 solid;
    color: #FCEE21 !important;
}

.ac-boxlist .box .support .list{
    display: inline-block;
    float: left;  
    width: 86%;
    height: 38px;
}
.ac-boxlist .box .support .list .head{
    height: 40px;
    width: 40px;
    margin: 0 10px;
}

.homeshowcar{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: #9D9D9D;
    background-image: url(http://hanzh.oss-cn-shenzhen.aliyuncs.com/public/upload/20150716/14370233772883.jpg);
    background-position: center;
    background-size: cover;    
}
.homeshowcar .showcartop{
    width: 100%;
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: inline-block;

}
.homeshowcar .showcartop .user{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    margin-top: 90px;
}
.homeshowcar .showcartop .user .head{
    width: 70px;
    height: 70px;
    float: none;
}
.homeshowcar .showcartop .user .name{
    color: #B3B3B3;
    font-size:  24px;
    font-weight: 800;
    margin: 10px 0;
    word-wrap: break-word;
    word-break: normal;
}
.homeshowcar .showcartop .intro{
    color: #B3B3B3;
    font-size: 20px;
    font-style: italic;
}
.homeshowcar .showcartop .intro .text{
    margin: 0 10px;
}
.homeshowcar .showcartop .option{
	margin:10px auto 0;
}
.homeshowcar .showcartop .option .btn{
	width: 100px;
	height: 30px;
	line-height: 30px;
	margin: 0 10px;
    transition:all 0.1s linear 0s, border 0.1s linear 0s;
}
.homeshowcar .showcartop .option .btn i{
	margin:5px;
}
.homeshowcar .showcartop .option .btn:hover{
    color: #4c4640 !important;
	background-color: #DDD340;
}
.homeshowcar .showcartop .option .gz-btn{
	background-color: #FCEE21;
}

.home-menu{
    position: absolute;
    width: 100%;
    max-width: 960px;
    height: 60px;
    bottom: 5px;
}
.home-menu ul{
	display: inline-block;
	margin: 0 auto;
	height: 100%;
}
.home-menu ul li{
	display: block;
	margin: 0 17px;
	width: 40px;
	float: left;
	height: 100%;
	text-align: center;
	color: #B3B3B3;
	opacity: 0.7;
}
.home-menu ul li.active{
	opacity: 1;
}
.home-menu ul li:hover{
	opacity: 1;
}
.qzlist{
	margin:0 auto;
	display: inline-block;
	margin-top: 30px;
	width: 100%;
	max-width: 900px;
}
.qzlist .box{
	display: inline-block;
	float: left;
	width: 280px;
	height: 70px;
	margin: 0 9px 20px;
	border: 1px solid #EEE;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}
.qzlist .box .user{
	margin-top: 10px;
	text-align: left;
	color: #4c4640;
}
.qzlist .box .user .name{
	padding-top: 5px;
	font-weight: 800;
	white-space: nowrap;	
	text-overflow: ellipsis;
	max-width: 12em;
	overflow: hidden;
}
.qzlist .box .user .intro{
	color: #B3B3B3;
	font-size: 14px;
	white-space: nowrap;	
	text-overflow: ellipsis;
	max-width: 12em;
	overflow: hidden;
}
.qzlist .box:hover,.loadmore:hover{
	background-color: #F0F0F0;
}
.qzlist .box:hover,.loadmore:active{
	background-color: #F9F9F9;
}
.qzlist .loadmore{
	border: 1px #eee solid;
	max-width: 900px;
	width: 98%;
	line-height: 40px;
	height: 40px;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

.qzlist .loadmore.disable{
	cursor: default;
	color: #D9D9D9;
}

.homeintro{
	margin:0 auto;
	display: inline-block;
	margin-top: 30px;
	width: 100%;
	max-width: 900px;
}
.homeintro .title{
	text-align: left;
  	max-width: 700px;
  	margin: 0 auto;
  	width: 88%;
}
.homeintro .intro{
	width: 88%;
	max-width: 700px;
	text-align: left;	
	margin: 0 auto;
}
.homeintro .intro img{
	width: 100%;
}
.homeintro hr.line{
	width: 88%;
	max-width:700px;
	margin:  20px auto;
    background: #333;
    background-image: -webkit-linear-gradient(left, #333, #eee, #fff);
    background-image: -moz-linear-gradient(left, #333, #eee, #fff);
    background-image: linear-gradient(left, #333, #eee, #fff);
}
@media screen and (max-width: 960px){
	.logo{
        display: inline-block;
        margin:0px auto;
        width: 100%;
        padding: 50px 0;
    }
    .logo .icon.logo-a{
        margin: 0px auto;
        width: 201px;
        height: 130px;
        background: transparent url("../img/icon/logo_1.png") no-repeat scroll;
    }
    .vi-menu{
        width:100%;
        margin: 0px auto;
        overflow:hidden;
    }
    .vi-menu ul{
        float: none;
        overflow:hidden;
        margin: 0px auto;
        display: inline-block;
    }
    
    .vi_footer{
        margin:0px auto;
        margin-top:50px; 
        width:90%;
    }
  	
	.loginlogo{
	   	float:none;
	   	padding-top: 80px;
	}
    .loginlogo .icon {
      float: none;
    	
    } 
    .loginlogo .text {   
    	top: 5px;
      	text-align: center;
    	font-weight: bold;
    } 
    .logtext{
        padding-top: 40px;
    }
    .logtext div{
      	float: none;
    		padding-top: 10px;
    }
    .formcon{
        float: none !important;
    		display: inline-block;
    }
    .logfooter{
        display: none;
    }
    .loginoption{
        margin-top: 10px;
        margin-bottom: 50px;
    }
	.ac-left{
		width: 80%;
		float: none;
	}
	.ac-right{
		width: 300px;
		float: none;
	}
	.ac-boxlist .box .article .con{
		padding: 10px;
		text-indent:2em;
		height: auto;
	}
	.ac-boxlist .box .article{
		display: inline-block;
		height: auto;
	} 
	.ac-boxlist .box .article .ar_text {
		width: 100%;
	}
	.ac-boxlist .box .article .ar_pic {
		width: 100%;
	}
    .ac-boxlist .box .support .like{
        float: none;
    }

    .ac-boxlist .box .support .list{
        display: inline-block;
        float: none;  
    }

    .qzlist .box{
    	float:none;
    }
    .qzlist .loadmore{
    	width: 280px;
    }
    .vi_footer_right{
    	float:none;
    }

}

.identity {
    position: relative;
}

.head .identity {
    position: absolute;
    bottom: -2px;
    right: 0;
}

.tooplit span{
  	width: 18px;
	height: 18px;
	line-height: 18px;
	left: 0px;
	font-family: 'Alegreya SC', Georgia, serif;
	font-size: 14px;
	color: transparent;
	text-align: center;
	/* border: 1px solid #fff; */
	background: rgba(255,255,255,0.5);
	text-indent: 0px;
	position: absolute;
	pointer-events: none;
	border-radius: 50%;
	font-weight: normal;
	opacity: 0.5;
	box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
}
.tooplit a:hover span{
    width: 60px;
    height: 18px;
    opacity: 0.9;
    color: #4C4640;
    border-radius: 5px; 
    left: 20px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);

}

/* 文章详情 CSS */
.article-detial {
    margin-top: 50px;
    box-sizing: border-box;
    width: 80%;
    min-width: 300px;
    max-width: 700px;

    text-align: left;
}

.article-detial .no-comment{
	margin: 10px;
	color: #B3B3B3;

}
.author {
    border: 1px solid #eee;
    border-style: none none solid none;
    padding: 10px 0;
    width: 100%;
    height: 50px;
}

.author .head {
    width: 40px;
    height: 40px;
}

.author .name {
    font-size: 14px;
}

.author .author-info {
    font-size: 14px;

    color: #b3b3b3;
}

.article-detial .article-title {
    margin: 10px 0;

    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
    word-break: break-all;
}

.article-detial .article-subtitle {
    margin: 10px 0;

    font-size: 18px;
    font-style: italic;
    line-height: 1;
    word-break: break-all;

    color: #b3b3b3;
}

.article-detial .article-info {
  	width: 100%;
    color: #4c4640;
}

.article-detial .article-info i {
    font-size: 18px;
}

.article-detial .article-info span{
    font-size: 12px;
}

.article-detial .article-content {
    margin: 15px 0;
	border-top:1px #eee solid; 
    text-align: justify;
    color: #2f2f2f;
}

.article-detial .article-content img {
    max-width: 100%;
    height: auto;
}

hr.line {
    margin: 20px 0;
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #fff, #333, #fff);
    background-image: -moz-linear-gradient(left, #fff, #333, #fff);
    background-image: linear-gradient(left, #fff, #333, #fff);
}

.answer {
    margin-top: 5px;
    box-sizing: border-box;
    display: inline-block;
	width: 100%;
}

.answer .msg {
	display: inline-block;
    width: 75%;
    height: 32.2px;
}

.answer .msg textarea {
    min-height: 32.2px;
}

.answer .emotion {
    margin-left: 10px;
    float: left;
    margin: 0 10px;
    width: 32px;
    height: 32px;
    background: url(../img/icon/smile_icon.png);
    cursor: pointer;
    display: inline-block;
}

.answer .send {
    margin-right: 5px;
    margin-left: 10px;
    box-sizing: border-box;
    padding: 5px 10px;
    width: 52.1px;
    height: 32.2px;
    cursor: pointer;
    display: inline-block;
}


.article-detial .like {
    overflow: hidden;

    box-sizing: border-box;
    border: 1px solid #ddd340;
    border-radius: 40px;
    width: 165px;
    height: 52px;

    color: #ddd340;
    outline: none;
    cursor: pointer;
}

.article-detial .like:hover {
    color: #FFF;
    background-color: #E9DD35
}

.article-detial .like .mark-like {
    float: left;

    box-sizing: border-box;
    /*border-right: 1px solid #ddd340;*/
    width: 70%;
    height: 100%;
    text-align: center;
}

/*.article-detial .like .mark-like:hover {
    color: #fff;
    background-color: #ddd340;
}*/

.article-detial .like .mark-like div {
    line-height: 50px;
}

.article-detial .like .mark-like.active {
    color: #fff;
    background-color: #ddd340;
}

.article-detial .like .hover-line {
    float: left;
    display: inline;
    height: 40%;
    width: 1px;
    background-color: #ddd340; 
    margin-top: 10%;
}

.article-detial .like .like-num {
    float: left;

    box-sizing: border-box;
    width: 29%;
    height: 100%;

    line-height: 50px;
    text-align: center;
}

/*.article-detial .like .like-num:hover {
    color: #fff;
    background-color: #ddd340;
}*/

.like-list {
    overflow-x: hidden;
    overflow-y: auto;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    width: 100%;
    height: 100%;

    background-color: #fff;

    -webkit-transform: scale(0);
       -moz-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
}


.fadeIn {
    -webkit-animation: show .2s  ease forwards;
       -moz-animation: show .2s  ease forwards;
         -o-animation: show .2s  ease forwards;
            animation: show .2s  ease forwards;
}

@keyframes show {
    from {
        transform: scale(.5);
    }
    to {
        transform: scale(1);
    }
}

@-webkit-keyframes show {
    from {
        -webkit-transform: scale(.5);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes show {
    from {
        -moz-transform: scale(.5);
    }
    to {
        -moz-transform: scale(1) ;
    }
}

@-o-keyframes show {
    from {
        -o-transform: scale(.5);
    }
    to {
        -o-transform: scale(1) ;
    }
}

.fadeOut {
    -webkit-animation: close .2s  ease forwards;
       -moz-animation: close .2s  ease forwards;
         -o-animation: close .2s  ease forwards;
            animation: close .2s  ease forwards;
}

@keyframes close {
    from {
        -webkit-transform: scale(1);
    }
    to {
        -webkit-transform: scale(0);
    }
}

@-webkit-keyframes close {
    from {
        -webkit-transform: scale(1);
    }
    to {
        -webkit-transform: scale(0);
    }
}

@-moz-keyframes close {
    from {
        -moz-transform: scale(1);
    }
    to {
        -moz-transform: scale(0) ;
    }
}

@-o-keyframes close {
    from {
        -o-transform: scale(1);
    }
    to {
        -o-transform: scale(0) ;
    }
}

.like-list .close {
    float: right;

    margin-top: 20px;
    margin-right: 20px;

    cursor: pointer;
}

.like-list .people {
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    max-width: 700px;

    text-align: center;
}

.like-list .people h1 {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.like-list .item {
    margin: 0 auto;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding: 5px;
    width: 80%;
    height: 40px;

    text-align: left;
}

.like-list .item .head {
    width: 40px;
    height: 40px;
}

.like-list .item .username {
    display: inline-block;
    height: 100%;
    line-height: 40px;
}

.like-list .item .time {
    float: right;

    font-size: 14px;
    height: 100%;
    line-height: 40px;
    color: #ccc;
}
@media screen and (max-width: 960px){
    .like-list .item .time {
        display: none;
    }
    .article-detial {
        text-align: center;
    }
}

.publish-article {
    width: 900px;
    margin-top: 80px;
}

.publish-article .title {
    width: 100%;
    border: none;
    border-bottom: 1px solid #EEE;
    font-size: 38px;
    padding: 5px;
    text-align: center;
    margin-bottom: 35px;
}

.publish-article .subtitle {
    width: 100%;
    border: none;
    border-bottom: 1px solid #EEE;
    font-size: 24px;
    padding: 5px;
    text-align: center;
    margin-bottom: 35px;
}

.publish-article .radio-box {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #EEE;
    box-sizing: border-box;
    text-align: right;
}

.publish-article .radio-box p {
    float: left;
    line-height: 20px;
    height: 20px;
}


.publish-article .option{
    margin: 10px auto 20px;
}

.publish-article .option .btn{
    width: 120px;
    height: 40px;
    margin: 0 10px;
    border: 1px solid #EEE;
    line-height: 40px;
    border-radius: 0;
    transition: all 0.1s ease-in-out;
}

.publish-article .option .publish {
    background-color: #EDE12B;
}

.publish-article .option .publish:hover {
    color: #4C4640 !important;
    background-color: #FCEE21;
}
.publish-article .option .publish:active {
    background-color: #ddd340;
}


.publish-article .option .cancel:hover {
    color: #4C4640 !important;
    background-color: #E04E6B;
}
.publish-article .option .cancel:active {
    background-color: #C53A55;
}

.container-head {
    max-width: 960px;
    width: 80%;
    margin-top: 80px;

    text-align: left;
}

.container-head h1 {
    margin-bottom: 35px;

    font-size: 48px;
    font-weight: 100;

    color: #b3b3b3;
}

.conversation {
    margin-top: 25px;
    border: 2px solid #b3b3b3;
    border-style: solid none;
    padding: 15px 5px;
    min-height: 480px;
}

.conversation .msg {
    float: right;

    width: 600px;
}

.conversation .emotion {
    float: right;

    margin-left: 10px;
    width: 32px;
    height: 32px;

    background: url(../img/icon/smile_icon.png);

    cursor: pointer;
}

.conversation .send {
    float: right;

    margin-right: 5px;
    margin-left: 10px;
    box-sizing: border-box;
    padding: 5px 10px;
    width: 52.1px;
    height: 32.2px;

    cursor: pointer;
}

.conversation .send:hover {
    -webkit-animation: bgcolor-y .2s ease-out forwards;
       -moz-animation: bgcolor-y .2s ease-out forwards;
        -ms-animation: bgcolor-y .2s ease-out forwards;
            animation: bgcolor-y .2s ease-out forwards;
}

.avatar {
    width: 50px;
    height: 50px;

    text-align: center;
}

.avatar-left {
    position: absolute;
    top: 0;
    left: -75px;
}

.avatar-right {
    position: absolute;
    top: 0;
    right: -75px;
}

.avatar img {
    border: 1px #b3b3b3 solid;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.avatar .username {
    font-size: 12px;

    color: #000;
}

.message {
    margin-top: 40px;
    width: 100%;
}

.message-box {
    box-sizing: border-box;
    width: 576px;
    min-height: 100px;

    background-color: #fff;
}

.message-left {
    padding: 15px 5px 15px 85px;
}

.message-right {
    margin-left: 384px;
    padding: 15px 85px 15px 5px;
}

.message-content {
    position: relative;

    box-sizing: border-box;
    border-radius: 8px;
    padding: 15px;
    min-height: 70px;
}

.triangle-left {
    border-top: 8px solid transparent;
    border-right: 15px solid #e5e9ef;
    border-bottom: 8px solid transparent;
    border-radius: 1px;
    width: 0;
    height: 0;
}

.triangle-right {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 15px solid #cde9f5;
    border-radius: 1px;
    width: 0;
    height: 0;
}

.message-content .triangle-left {
    position: absolute;
    left: -15px;
}

.message-content .triangle-right {
    position: absolute;
    right: -15px;
}

.message-right .message-content {
    border: 1px solid #c3d7e6;

    text-align: right;

    background-color: #cde9f5;
}

.message-left .message-content {
    border: 1px solid #d0d7dd;

    text-align: left;

    background-color: #e5e9ef;
}

.message .time-box {
    margin: 5px auto;
    width: 80%;

    font-size: 14px;
    text-align: center;

    color: #b3b3b3;
}


@media screen and (max-width: 960px) {
    .container-960 {
        margin: 0 auto;
        width: 100%;
    }

    .container-head {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    .conversation .msg {
        float: none;

        width: 65%;
    }

    .message {
        margin-top: 20px;
    }

    .message .message-box {
        width: 100%;
    }
    .message .message-box .message-content {
        width: 80%;
    }

    .message-right {
        margin-left: 0;
        padding: 12px 20% 15px 5px;
    }

    .message-right .message-content {
        float: right;
    }
}

.message-item {
    margin-top: 15px;
    box-sizing: border-box;
    padding: 18px 20px 18px 94px;
    width: 100%;
    height: 100px;

    cursor: pointer;
}

.message-item:hover {
    background-color: #f2f2f2;
}

.av-icon {
    display: inline-block;

    position: absolute;
    top: 0;
    left: -80px;

    border: none;
    width: 64px;
    height: 64px;
}

.av-icon img {
    border: none;
}

.message-item .message-row {
    position: relative;
    /*background-color: red;*/

    box-sizing: border-box;
    padding: 5px 10px 10px 10px;
    width: 100%;
    height: 100%;
}

.message-item .message-row h3 {
    margin-bottom: 2px;

    text-align: left;

    color: #4b463f;
}

.message-item .message-row p {
    font-size: 14px;
    text-align: left;

    color: #c9c9c9;
}

.conversation h1 {
    margin-bottom: 40px;
    padding: 20px;
}

main,
.flp,
.flp .form-group,
.flp .label,
.flp .flp-input,
.ch {
    box-sizing: border-box;
}


main {
    overflow: hidden;

    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 60%;

    background: white;
}

@media screen and (max-width: 960px) {
    main {
        width: 100%;
    }
}

/*Let's place the .label over the .flp-input*/
.flp .form-group {
    position: relative;

    margin-bottom: 30px;
}

.flp .flp-input,
.flp .label {
    display: block;

    border: 1px solid #999;
    width: 100%;
    /*fixed height for FF line height issue. 
height = 24(lineheight) + 10*2(padding) + 2(border)*/
    height: 46px;

    font: inherit;
    font-size: 16px;
    line-height: 24px;
}

.flp .flp-input {
    border-radius: 3px;
    padding: 10px;

    outline: none;
}

.flp .label {
    position: absolute;
    top: 0;
    left: 0;

    border-color: transparent;
    /*left/right padding will be 2px less, adjusted by padding on .ch*/
    padding: 10px 8px;

    color: #666;

    cursor: text;
}

/*.label styles*/
.ch {
    display: block;
    float: left;

    position: relative; /*for upward animation*/

    background: white;
}

.ch:first-child {
    padding-left: 2px;
}

.ch:last-child {
    padding-right: 2px;
}

/*active .flp-input label*/
.focussed {
    /*when any input is already focussed clicking on it(label) again won't do anything*/
    pointer-events: none;
}

.conversation .radio-box {
    margin: 20px 0;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    height: 46px;

    text-align: right;

    color: #666;
}

.conversation .radio-box p {
    float: left;

    height: 20px;

    line-height: 20px;
}

.conversation .option {
    margin: 20px 0;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    height: 46px;

    line-height: 46px;
    text-align: left;

    color: #666;
}

.conversation .option .save {
    display: inline-block;

    width: 20%;

    text-align: center;

    transition: all .1s ease-in-out;
}

.conversation .option .cancel {
    display: inline-block;

    margin-right: 10px;
    width: 20%;

    text-align: center;
}

.conversation .option .save:hover,
.conversation .option .cancel:hover {
    background-color: #fcee21;
}
