/*
 * 全局样式
 */

/*
 * Button Style
 */
.button {
    padding: .25em 1em;
    border: 1px solid rgba(0, 0, 0, .1);
    background: #888 linear-gradient(hsla(0, 0%, 100%, .2), transparent);
    border-radius: .2em;
    box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
    color: white;
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
    font-size: 100%;
    line-height: 1.5;
    display: inline;

    cursor: pointer;

    transition: all .25s;
}

.button:hover {
    opacity: .8;
}

.button.cancel {
    background-color: #f44336;
}

.button.success {
    background-color: #4caf50;
}

/*
 * 输入样式
 */
input[type="text"] {
    outline: none;
    border-style: none none solid none ;
    border-color: #e0e0e0;
    border-width: 2px;

    width: calc(100% - .5em);
    padding: .25em;
    color: rgba(0, 0, 0, .8);
    background: transparent;
    font-size: 16px;

    display: block;
    transition: border-color .5s;
}

input[type="text"]:focus {
    border-color: #cddc39;
}

input + .message,
textarea + .message {
    position: absolute;
    bottom: 0;
    right: -8em;
    max-width: 16em;
    font-size: .8em;
    padding: .5em;
    border-radius: .3em;

    background: #fed;
    box-shadow: .05em .2em .6em rgba(0, 0, 0, .2);
    transform: scale(0);
    transition: .5s cubic-bezier(.25, .1, .3, 1.5) transform;
}

textarea {
    outline: none;
    border-style: none none solid none;
    border-color: #e0e0e0;
    border-width: 2px !important;

    width: calc(100% - .5em);
    padding: .25em;
    color: rgba(0, 0, 0, .8);
    background: transparent;
    font-size: 1rem;

    resize: none;
    display: block;
    transition: border-color .5s;

}

textarea:focus {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #cddc39;
}

input + .message:before,
textarea + .message:before {
    content: "";
    position: absolute;
    left: -.35em;
    top: calc(50% - .35em);

    padding: .35em;
    background: inherit;
    border: inherit;
    border-right: 0;
    border-bottom: 0;
    transform: rotate(45deg);

}

.message.open {
    transform: scale(1);
    transform-origin: 1.4em -.4em;
}

.message.danger {
    background: #d50000;
    color: white;
}

/*
 * Reveal Model
 */
.reveal-model-bg {
    position: fixed;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, .45);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;

    transition: opacity .5s ease;
}

.reveal-model-bg.open {
    z-index: 11;
    opacity: 1;
}

.reveal-model {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    width: 730px;
    margin: 0 auto;
    height: calc(100% - 10rem);
    background: #FFF;
    z-index: -1;
    border-radius: .25em;
    overflow: hidden;
    display: block;

    opacity: 0;

    transition: transform .5s ease;
}

.reveal-model-bg.open + .reveal-model {
    transform: translateY(5rem);
    z-index: 12;
    opacity: 1;
}

.reveal-model .top {
    height: 1.5rem;
    width: 100%;
    background: #bbdefb;

}

.reveal-model .top .close-box {
    float: right;
    width: 1.5em;
    height: 100%;
    background: #ef9a9a;
    color: white;

    cursor: pointer;
    z-index: 15;

    transition: background .25s ease;
}

.reveal-model .top .close-box:hover {
    background: #ef5350;
}

.reveal-model .top .close-box i {
    margin: 0 auto;
    line-height: 100%;
    display: block;
    text-align: center;
    font-size: 1.4em;

}

.reveal-model .top .reveal-title {
    margin-left: 10px;
    display: inline-block;
}

.reveal-model .wrap {
    width: 700px;
    padding: 0 15px;
}

.reveal-model .image-content{
    padding: 30px 0;
    width: 100%;
    display: block;
    cursor: pointer;
    opacity: .6;
    text-align: center;

    transition: opacity .3s ease;
}

.reveal-model .image-content:hover {
    opacity: 1;
}

.reveal-model .image-content i {
    font-size: 64px;
}

input[type='file'] {
    display: none;
}

.reveal-model .footer .button {
    margin: .5em auto;
    display: block;
}

.container-left {
    position: fixed;
    left: 0;
    top: 0;

    height: 100%;
    width: 15rem;
    background-color: #D54D2C;
    box-shadow: .05em .2em .6em rgba(0, 0, 0, .2);
    z-index: 5;
}

.container-left .title {
    text-align: center;
    color: #F0F0DF;

    padding: .2em;
}

.container-left .title h3 {
    color: #F0f0DF;
}

.container-left nav {
    margin-top: 1.5em;
}

.container-left nav ul li {
    padding: .7em 0 .7em .5em;
    color: #FFF;
    border-bottom: 1px solid #DF5D35;
    transition: background .25s ease 0s;
    cursor: pointer;
}

.container-left nav ul li:first-child {
    border-top: 1px solid #DF5D35;
}

.container-left nav ul li:hover {
    background: #C1472B;
}


.container {
    position: relative;
    left: 0px;
    top: 0px;

    width: 80%;
    background-color: #FFF;
    margin: 0 auto;
}

.container.open {
    width: calc(100% - 15rem);
    transform: translateX(15rem);
    margin: 0;
    max-width: none;
    min-height: 100%;
}

.main-container {
    width: 700px;
    margin: 0 auto;
}

.form-control {
    position: relative;
    display: block;
    text-align: left;
    padding-top: 1em;
}

.form-control.inline {
    display: inline-block;
    width: 75%;
}

.detail .introduction:hover {
    border-left: 1px solid #EEEEEE !important;
}


.dropdown {
    float: left;
    margin-right: 20px;
}

.select {
    text-align: left;
    width: 700px;
    margin:15px auto;
    padding-top: 10px;
}
