

/* Base styles */

.flex-text-wrap {
    position: relative;

    *zoom: 1;
}

textarea,
.flex-text-wrap {
    margin: 0;
    border: none;
    padding: 0;

    outline: 0;
}

.flex-text-wrap textarea,
.flex-text-wrap pre {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;

    white-space: pre-wrap;

        -ms-box-sizing: border-box;
}

.flex-text-wrap textarea {
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    resize: none;
}

.flex-text-wrap pre {
    display: block;
    visibility: hidden;
}

/* Custom styles */

textarea,
.flex-text-wrap pre {
    border: 1px solid #c6c8ce;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    padding: 3px 8px 0;
    width: 100%;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    /* Ensure typography, padding, border-width & min-height are identical across textarea & pre */
    line-height: 1.7;

    background: #fff;
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;

    -webkit-box-shadow: 0 0 8px rgba(182, 195, 214, .6) inset, 0 1px 1px #fff;
       -moz-box-shadow: 0 0 8px rgba(182, 195, 214, .6) inset, 0 1px 1px #fff;
            box-shadow: 0 0 8px rgba(182, 195, 214, .6) inset, 0 1px 1px #fff;

    -webkit-transition-duration: 300ms;
       -moz-transition-duration: 300ms;
        -ms-transition-duration: 300ms;
         -o-transition-duration: 300ms;
            transition-duration: 300ms;
    -webkit-transition-property: border-color, -webkit-box-shadow;
    -webkit-transition-property: border-color, box-shadow;
       -moz-transition-property: border-color, -moz-box-shadow;
       -moz-transition-property: border-color, box-shadow;
        -ms-transition-property: border-color, box-shadow;
         -o-transition-property: border-color, box-shadow;
            transition-property: border-color, box-shadow;

    -webkit-appearance: none;
    -webkit-transition-easing: ease-in-out;
       -moz-transition-easing: ease-in-out;
        -ms-transition-easing: ease-in-out;
         -o-transition-easing: ease-in-out;
            transition-easing: ease-in-out;
}

textarea:focus {
    border-color: #fcee21;

    box-shadow: 0 1px 1px rgba(252, 238, 33, .075) inset, 0 0 8px rgba(102, 175, 233, .6);
}

.fork-link {
    display: block;

    position: absolute;
    top: 0;
    right: 0;

    width: 140px;
}

@media only screen and (-webkit-min-device-pixel-ratio:1.25), (min-resolution:120dpi) {
    html {
        background-size: 51px auto;
    }
}
