<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="format-detection" content="telephone=yes" />
  <meta name="msapplication-tap-highlight" content="no" />
  <script type="text/javascript" src="./js/j162.min.js"></script>
  <link href="./css/common.css" type="text/css" rel="stylesheet" />
  <link href="./css/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
  <!--  <input type="hidden" value="<?=base_url()?>" id="BASE_URL"> --></head>

<body>
  <div class="container">
    <div class="setting">
      <div class="main">
        <h1>设置</h1>
        <div id="vi_menu" class="vi-menu width-100p">
          <ul>
            <li>
              <a href="#" class="link">发现</a>
            </li>
            <li class="active">
              <a href="#" class="link">动态</a>
            </li>
            <li>
              <a href="#" class="link">作品</a>
            </li>
            <li>
              <a href="#" class="link">文章</a>
            </li>
          </ul>
        </div>
        <form>
          <div class="form-group">
            <label>昵称:</label>
            <input type="text">
            </div>
          <div class="form-group">
            <label>主页地址:</label>
            www.artvc.cc/<input type="text" style="width:195px;">
            </div>
          <div class="form-group">
            <label>性别:</label>
            <div class="radio-group">
              <div>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>男
              </div>
              <div>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>女
              </div>
              <div>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>保密
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">生日:</label>
            <div class="birthday">
              <select id="year"></select>年
              <select id="mouth"></select>月
              <select id="day"></select>日
            </div>
          </div>
          <div class="form-group">
            <label for="">地区:</label>
            <input type="text">
          </div>
          <div class="form-group">
            <label for="">邮箱:</label>
            <input type="text">
          </div>
          <div class="form-group">
            <label for="">手机:</label>
            <input type="text">
          </div>
          <div class="width-100p">
           <div class="btn set-btn">
              <font id="text">取消</font>
            </div>
            <div class="btn set-btn">
              <font id="text">保存</font>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<script>
</script>
</html>